.imggrid_display li {
	width: 90px;
	height: 90px;
}

.imggrid li:nth-child(even) {
	float: right;
	margin-right: 30px;
}

.imggrid li:nth-child(odd) {
	float: left;
	margin-left: 30px;
}

#home ul {
	margin-top: 20px;
}

#spot_btn {
	margin-top: 20px;
}

#quote {
	margin-top: 60px;
	text-align: center;
	color: grey;
}

#sorry {
	text-align: center;
	color: #1D1C1C;
	padding-top: 20px;
}